.navigation{
    height: 100px;
}

.box_2{
    height: 0%;
    width: 0%;
}

.box_3{
    width: 90%;
}

.stats_pg{
    height: 76%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid yellow;
}

.upper{
    height: 45%;
    width: 50%;
    border: 1px solid magenta;
}

.lower{
    height: 45%;
    width: 50%;
    border: 1px solid gray;
}

.chart_1{
    /* width: 590px; */
    width: 100%;
    height: 100%;
    display: flex;
}